<div class="flex flex-col justify-between w-full h-22">
    <label for="{{id()}}" class="text-xl">{{label()}}</label>
    <div class="flex w-full h-12 border-2 border-(--blue-primary) rounded-lg">
        <div class="flex justify-center items-center w-12 h-full bg-(--blue-primary) rounded-tl-sm rounded-bl-sm">
            <img aria-hidden="true" src="{{inputImg()}}" class="w-auto h-8">
        </div>
        <input id="{{id()}}" type="{{type()}}" placeholder="{{placeholder()}}"
        class="flex-1 pl-2 bg-(--white-default) rounded-tr-lg rounded-br-lg">
    </div>
</div>