<div (click)="onClickIcon(iconNavBar().label)"
    class="flex justify-center items-center rounded-full w-16 h-16 lg:justify-start lg:pl-2 lg:gap-2 lg:w-54 lg:h-12 lg:rounded-md lg:hover:bg-(--white-default)/20 lg:hover:scale-102 lg:transition-all lg:duration-200"
    [class]="iconSelected() == iconNavBar().label ? 'bg-(--white-default)/70' : ''">
    <ng-container *ngComponentOutlet="iconNavBar().component" />
    <p class="hidden lg:block lg:font-bold"
        [class]="iconSelected() == iconNavBar().label ? 'lg:text-(--blue-dark)' : 'lg:text-(--white-default)'">
        {{iconNavBar().label}}</p>
</div>